
#container {
    width: 580px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    left:-10px;
    z-index: 0;
}





#slides {
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 100;
}

#slides .next,
#slides .prev {
    position: absolute;
    top: 180px;
    left: 0px;
    width: 24px;
    height: 43px;
    display: block;
    z-index: 101;
}

.slides_container {
    width:630px;
    height: 400px;
    overflow: hidden;
    position: relative;
    
}

#slides .next {
	top:182px;
    left: 575px;
}

.pagination {
    margin: 26px auto 0;
    width: 100px;
    position:relative;
    top:-25px;
}

.pagination li {
    float: left;
    margin: 0 2px;
}

.pagination li a {
    display: block;
    width: 12px;
    height: 0;
    padding-top: 12px;
    background-image: url(../img/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.pagination li.current a {
    background-position: 0 -12px;
}





