<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NewsSys</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainSvl</display-name>
    <servlet-name>MainSvl</servlet-name>
    <servlet-class>com.my.servlet.MainSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HotNewsSvl</servlet-name>
    <servlet-class>com.my.servlet.back.HotNewsSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainSvl</servlet-name>
    <url-pattern>/MainSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HotNewsSvl</servlet-name>
    <url-pattern>/HotNewsSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNewSvl</display-name>
    <servlet-name>GetNewSvl</servlet-name>
    <servlet-class>com.my.servlet.GetNewSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNewSvl</servlet-name>
    <url-pattern>/GetNewSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PicServlet</display-name>
    <servlet-name>PicServlet</servlet-name>
    <servlet-class>com.my.servlet.back.PicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicServlet</servlet-name>
    <url-pattern>/PicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewsSvl</display-name>
    <servlet-name>AddNewsSvl</servlet-name>
    <servlet-class>com.my.servlet.back.AddNewsSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsSvl</servlet-name>
    <url-pattern>/back/AddNewsSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginBackSvl</display-name>
    <servlet-name>LoginBackSvl</servlet-name>
    <servlet-class>com.my.servlet.back.LoginBackSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginBackSvl</servlet-name>
    <url-pattern>/LoginBackSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BNewslistSvl</display-name>
    <servlet-name>BNewslistSvl</servlet-name>
    <servlet-class>com.my.servlet.back.BNewslistSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BNewslistSvl</servlet-name>
    <url-pattern>/back/BNewslistSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToNewsListSvl</display-name>
    <servlet-name>ToNewsListSvl</servlet-name>
    <servlet-class>com.my.servlet.back.ToNewsListSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToNewsListSvl</servlet-name>
    <url-pattern>/back/ToNewsListSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHotNewsSvl</display-name>
    <servlet-name>AddHotNewsSvl</servlet-name>
    <servlet-class>com.my.servlet.back.AddHotNewsSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHotNewsSvl</servlet-name>
    <url-pattern>/back/AddHotNewsSvl</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminAuthFilter</display-name>
    <filter-name>AdminAuthFilter</filter-name>
    <filter-class>com.my.filter.AdminAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminAuthFilter</filter-name>
    <url-pattern>/back/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutBackSvl</display-name>
    <servlet-name>LogoutBackSvl</servlet-name>
    <servlet-class>com.my.servlet.back.LogoutBackSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutBackSvl</servlet-name>
    <url-pattern>/back/LogoutBackSvl</url-pattern>
  </servlet-mapping>
</web-app>